* {
    font-family: 'JetBrainsMono Nerd Font Mono';
    font-weight: 700;
    font-size: 9pt;
    min-height: 0;
}

window#waybar {
  background: rgba(30, 30, 46, 0);
  color: #cdd6f4;
}

tooltip {
  background: rgba(10, 12, 18, 0.98);
  border-radius: 10px;
}

#workspaces,
#clock,
#pulseaudio,
#backlight,
#custom-power,
#network,
#custom-menu {
    background: #11111b;
    margin: 4px 4px 0px 4px;
    padding: 0px 12px;
    border-radius: 10px;
}

#workspaces {
    padding: 0 4px;
}

#workspaces button {
    padding: 0 5px;
    color: transparent;
    background-color: #1e1e2e;
    margin: 3px;
    border-radius: 9px;
    min-width: 12px;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#workspaces button.focused {
    color: #0b1117;
    background-color: #7ab8ff;
    min-width: 40px;
}

#workspaces button.focused:hover {
  background-color: #7ab8ff;
  box-shadow: none;
}

#workspaces button.urgent {
    background-color: #ff4081;
}

#workspaces button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#custom-menu {
  color: #ff4081;
}

#pulseaudio,
#backlight,
#custom-power,
#network,
#custom-menu {
  font-size: 16pt;
}
